<head>
    <title>Edit Profile</title>
</head>
<body>
<br><br>
<hr>
 <centre>

    <H1>Edit</H1><br><br>

        <form action = "/edit_done" method = "POST">
            <input type = "text"  name = "edit_t" id = "edit_t" value = <%= data.edit_token %> readonly><br><br>
            <input type = "text"  name = "profile_id" id = "profile_id" value = <%= data.profile_id %> readonly><br><br>
            <input type = "text" placeholder="Profile Picture Link" name = "img_l" id = "img_l" value = <%= data.img_link%> ><br><br>
            <input type = "text" placeholder="First Name" name = "fname" id = "fname" value = <%= data.fname %>><br><br>
            <input type = "text" placeholder="Last Name" name = "lname" id = "lname" value = <%= data.lname %>><br><br>
            <input type = "number" placeholder="IITG Roll Number" name = "roll" id = "roll" value = <%= data.roll %> ><br><br>
            <input type = "text" placeholder="City" name = "city" id = "city" value = <%= data.city %> ><br><br>
            <label for="branch">Branch : </label>
            <select id="branch" name="branch" >
              <option value="cse">CSE</option>
              <option value="mnc">MNC</option>
              <option value="ece">ECE</option>
              <option value="eee">EEE</option>
              <option value="me">ME</option>
              <option value="ep">EP</option>
              <option value="cl">CL</option>
              <option value="cst">CST</option>
              <option value="ce">CE</option>
              <option value="bt">BT</option>
            </select><br><br>
            <label for="about" > About: </label><br>
            <textarea type = "text" placeholder="Brief About" name = "about" id = "about" rows="4" cols="50" ><%=data.about%></textarea><br><br>
            <label for="tags">Interests: </label><br>
            <textarea type = "text" placeholder="Interests (tags separated with commas)" name = "tags" id = "tags" rows="4" cols="50" ><%=data.interests%></textarea><br><br>

            <input type = "submit" value = "Update" />

        </form>

 </centre>

 <br><br>
 <hr>

</body>