<head>
    <title>Profile</title>
</head>

<body>


    <img src = <%= data.img_link %> />
    <h1><%= data.fname%> <%= data.lname%> </h1><br><br>
    <h2><%= data.branch%> || <%= data.roll%> </h2><br><br>
    <h2><%= data.city%> </h2><br><br>
    <h2><%= data.about%> </h2><br><br>
    <h2><%= data.interests%> </h2><br><br>


</body>